<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Confirm</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css">
<!--    Uncomment if you want to test the design without enabling the app.-->
<!--    <link href="../static/styles/styles.css" rel="stylesheet" type="text/css">-->
</head>
<body>
    <form method="post">
        <p>Type your code from email</p>
        <input th:field="*{user.userInputConfirmCode}">
        <button type="submit">Confirm</button>
    </form>
    <p th:text="${validation}"></p>
</body>
</html>